* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(194, 224, 224);
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.image {
  margin-top: 2rem;
  width: 500px;
  height: 350px;
}

.btn {
  font-size: 1.2rem;
  background-color: rgb(244, 244, 192);
  border-radius: 8px;
  padding: 0.5em;
  margin-top: 3rem;
}
